[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
notebook = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
opendatasets = "*"
requests = "*"
python-dotenv = "*"
sqlalchemy = "*"
pymongo = {extras = ["srv"], version = "*"}
beautifulsoup4 = "*"
scipy = "*"
scikit-learn = "*"
plotly = "==5.10.0"
seaborn = "*"
lxml = "*"
html5lib = "*"

[dev-packages]

[requires]
python_version = "3.10"
